<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../script/endereco.js"></script>
    <link rel="stylesheet" href="../css/endereco.css" />
    <link rel="stylesheet" href="../script/endereco.js" />
    <title>Cadastro de Endereço</title>
  </head>
  <body>
    <form>
      <label for="cep"">CEP:</label>
      <input type="text" id="title" name="title" placeholder="Digite o Titulo" />
      <input type="text" id="cep" name="cep" placeholder="Digite o CEP" />
      <input type="text" id="address" name="address" placeholder="Digite o Endereço" />
      <input type="text" id="number" name="number" placeholder="Digite o Número" />
      <input type="text" id="complement" name="cep" placeholder="Digite o Complemento" />
      <input type="button" value="Cadastrar Endereço" onclick="cadastrarEndereco()">
    </form>
  </body>
</html>
